%h1.name= @restaurant.name
.description= @restaurant.description
%ul.reviews
  - @restaurant.reviews.each do |review|
    %li
      %span.comment= review.comment
      Rated:
      %span.rating= review.rating
= link_to "Review this restaurant", new_restaurant_review_path(@restaurant)
= link_to "Edit this restaurant", edit_restaurant_path
= link_to "Delete this restaurant", @restaurant, :method => :delete, data: { :confirm => "Are you sure?" }